body {
    margin: 0;
    padding: 0;
    background-color: royalblue;

}

.results {
  margin: 25px;
}

.bookCard {
  margin-top: 20px !important;
}

* {
  font-family: 'Vidaloka', serif;
}

.savedBooks {
  margin-top: -50px;
}
  
.searchBtn {
  background-color: #EBAC02 !important;
  margin-left: 10px !important;
  padding: 0 20px !important;
  border: 1px solid red !important;
  border-radius: 30px !important;
}

.searchGroup {
  display: flex;
  justify-content: center;
}

.viewBtns {
  border: solid 1px gray;
}