.banner {
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    background-image: url("https://freefrontend.com/assets/img/css-background-patterns/untitled.png");
    color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

img {
    width: 80%;
}

.headText {
    margin: auto;
}